body{
    max-width: 1100px;
}
h2 {
    color: goldenrod;
}

legend{
    color: lightgray;
    font-size: large;
}

a{
    color: rgb(243, 233, 174);
}

a:hover {
    color: goldenrod;
  }

#empTable{
    max-width: 1100px;
    word-wrap: break-word;
}
